<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
    <h1 align="center">Bienvenido al inicio de la aplicacion</h1>
    <a href="registro_vehiculos" style="background-color:blue; padding:5px; color:white; text-decoration:none">
        REGISTRO</a>
    <hr/>
    <br/>
    <h3 align="center">Agregar vehiculo</h3>
    <div align="center" style="padding:5px">
        <form method="POST" enctype="multipart/form-data">
            <table align="center" cellpadding="10px">
                {{formaVehiculo}}
            </table>
            <button type="submit" style="padding:5px; width:100px">
                Enviar
            </button>
        {% csrf_token %}
        </form>
    </div>
</body>
</html>