<!DOCTYPE html>
{% extends 'base.html' %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Detalle de vehiculo {{vehiculo.id}}</title>
</head>
<body>
{% block content %}
    <center>
    <h2>Vehiculo {{vehiculo.placa}}</h2>
    {% if vehiculo.imagen %}
        <img src="{{vehiculo.imagen.url}}" alt="Vehiculo" align="center" width="500">
    {% endif %}
    <p align="center">
        Nombre de propietario: {{vehiculo.nombre_p}} {{vehiculo.apellido_p}},
        Identificacion: {{vehiculo.cedula_p}}, Contacto: {{vehiculo.contacto_p}}
    </p>
    <p align="center">Marca: {{vehiculo.marca}}, Modelo: {{vehiculo.modelo}}, Color: {{vehiculo.color}}</p>
    <p align="center">Origen: {{vehiculo.origen}}, Fecha de ingreso: {{vehiculo.fecha_in}}</p>
    </center>
{% endblock %}
</body>
</html>