<!DOCTYPE html>
{% extends 'base.html' %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
    {% block content %}
    <center>
        <h1>Editar vehiculo</h1>
        <hr/>
        <div style="padding:3px">
            <form method="POST" enctype="multipart/form-data">
                <table cellpadding="2px">
                    {{formaVehiculo}}
                </table>
                <br/>
                <button type="submit" style="padding:5px; width:100px; background-color:blue; color:white"
                        class="btn btn-outline-secondary">
                    Enviar
                </button>
            {% csrf_token %}
            </form>
        </div>
    </center>
    {% endblock %}
</body>
</html>