<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro de vehiculos</title>
</head>
<body>
    {% block content %}
    <center>
        <h2>REGISTRO DE ENTRADA</h2>
        <p align="left">No. de registros encontrados {{no_vehiculos}}</p>
        <form class="d-flex" method=POST action="{% url 'vehiculos_buscados' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="Search" name="buscado" placeholder="Placa">
            <button class="btn btn-outline-primary" type="submit">Buscar</button>
        </form>
        <br/>
        <table style="border-collapse:collapse" border="1px" cellpadding="5px">
            <thead style="background-color:skyblue">
                <tr>
                    <th>FECHA</th>
                    <th>PLACA</th>
                    <th>MARCA</th>
                    <th>CEDULA</th>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    <th>ORIGEN</th>
                    <th>DETALLE</th>
                    <th>EDITAR</th>
                </tr>
            </thead>
            <tbody>
                {% for vehiculo in vehiculos_b %}
                <tr>
                    <td>{{vehiculo.fecha_in}}</td>
                    <td>{{vehiculo.placa}}</td>
                    <td>{{vehiculo.marca}}</td>
                    <td>{{vehiculo.cedula_p}}</td>
                    <td>{{vehiculo.nombre_p}}</td>
                    <td>{{vehiculo.apellido_p}}</td>
                    <td>{{vehiculo.origen}}</td>
                    <td><a href="ver_detalle/{{vehiculo.id}}" style="text-decoration:none">Ver detalle</a></td>
                    <td><a href="editar_vehiculo/{{vehiculo.id}}" style="text-decoration:none">Editar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>
    {% endblock %}
</body>
</html>